@font-face {
	font-family: "Gilroy-Light";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/gilroy/Gilroy-Light.otf") format("opentype");
}
@font-face {
	font-family: "Gilroy-ExtraBold";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/gilroy/Gilroy-ExtraBold.otf") format("opentype");
}
