$colors: (
	primary: (
		300: hsl(0, 0%, 0%),
		400: hsl(0, 0%, 8%),
		500: hsl(0, 0%, 11%)
	),
	secondary: (
		300: hsl(0, 0%, 100%)
		),
	accent: (
		300: hsl(239, 100%, 57%),
		400: hsl(353, 92%, 51%)
	),
	neutral: (
		300: hsl(0, 0%, 97%),
		400: hsl(0, 0%, 96%), 
		500: hsl(0, 0%, 91%),
		600: hsl(0, 0%, 80%),
		700: hsl(0, 0%, 73%)
	)
);
