@use "../abstracts/mixins" as *;
@use "../abstracts/placeholders" as *;

.Methodology {
    position: relative;
    &-Content {
        padding-bottom: 25rem;
        position: relative;
        &::after {
            position: absolute;
            top: 50rem;
            right: 23rem;
            @extend %blueWave;
        }
    }
    &-TitleWrapper {
        position: relative;
    }
    &-Title {
        width: 49rem;
        line-height: 1.2;
    }
    &-List {
        display: grid;
        grid-template-columns: repeat(3, 25rem);
        column-gap: 3rem;
    }
    &::after {
        content: "";
        position: absolute;
        width: 90.8rem;
        height: 60.8rem;
        top: -24rem;
        right: 0;
        background: url("../images/img2.png") center no-repeat;
    }
}
.MethodologyList {
    margin-top: 10rem;
    &-Field {
        @include flex(flex-start, flex-start, column);
        padding-left: 2.5rem;
    }
    &-Term {
        font-family: var(--ff-normal-800);
        font-size: var(--fs-18);
        color: var(--clr-primary-400);
        line-height: 2.8rem;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -2rem;
            left: -2.3rem;
            @extend %grayDot;
            z-index: -1;
        }
    }
    &-Description {
        font-family: var(--ff-normal-300);
        font-size: var(--fs-18);
        color: var(--clr-primary-400);
        line-height: 2.8rem;
    }
}
